*{padding-bottom: 0px;margin: 0px;}
body{font: 12px/24px "宋体";color:#333;}
ul{list-style:none;}
a{text-decoration: none;color:#333;}
.logo{width: 100%;background-image:url("../image/bglike.jpg");height:135px;}
.logol{float: left;}
.banner img{width:100%;height: 500px;}
.menu{width: 100%;height: 40px;background-color:#0044BB;clear:left;}
.menu ul{width: 1000px;margin:0px auto;}
.menu ul li{float:left;width:200px;line-height: 40px}
.menu a{font-size:16px;color:#fff;}
.clear{clear: both;}
.header{
	height: 205px;
	width: 1000px;
	background-position:center;
}
.list{width: 1000px;margin:0px auto;}
.list_img{width:300px;height:400px;float: left;margin: 10px;border:1px solid #ccc;}
.yejiaokuang{
  width:100%；
  padding-top: 10px;
  clear:both;
  background:url(../image/foot.jpg);
  background-position: center;
  height:auto;
  text-align: center;

}
.youqinglianjiekuang p{
  font-size:12px;
  padding:40px 0 0 0;
  text-align: center;
  font-weight: bold;
}
.yejiaotupiankuang p{
  text-align: center;
  margin:5px;
}
.beiankuang p{
  text-align: center;
  font-size:12px;
  color: #fff;
}

.list_img ul{
	line-height: 30px;
	height:30px;
}
.list_img ul li{
	width:250px;
	font-size:14px;
	text-align:left;
	float: left;
}
.list_img span{float: right;color:#a00;}
.list_img a:hover{
	text-decoration: underline;
	color:#009FCC;
}

.so{display:inline-block;}
.deng{display: inline-block;float: right;color: #fff}
